---
import AnimatedLink from "@/components/AnimatedLink.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import hero from "@/assets/hero.jpg";
import logo from "@/assets/white_logo.png";
import About from "@/components/About.astro";
import Friends from "@/components/Friends.astro";
---

<Layout
  title="About"
  description="Why Orbiter stands out from the rest when it come to static site hosting"
>
  <main>
    <div
      class={`relative flex flex-col items-center justify-start sm:min-h-[450px] min-h-[250px] w-full text-white gap-12`}
    >
      <div
        class="w-full max-w-screen-xl flex items-center justify-between gap-2 sm:my-12 my-4 sm:mb-24 px-6"
      >
        <a href="/">
          <img class="sm:h-12 h-10" src={logo.src} alt="" />
        </a>
        <div class="flex items-center sm:gap-12 gap-4">
          <AnimatedLink className="text-md sm:text-xl" href="/"
            >Home</AnimatedLink
          >
          <AnimatedLink className="text-md sm:text-xl" href="/pricing"
            >Pricing</AnimatedLink
          >
          <AnimatedLink className="text-md sm:text-xl" href="/blog"
            >Blog</AnimatedLink
          >
        </div>
      </div>

      <img
        src={hero.src}
        alt="Hero background"
        class="absolute inset-0 w-full h-full object-cover -z-10"
      />

      <div class="flex flex-col gap-2 items-center justify-center">
        <h1 class="text-6xl sm:text-8xl flex items-center gap-2 relative z-10">
          About
        </h1>
      </div>
    </div>
    <About />
    <Friends />
  </main>
  <Footer />
</Layout>
