---
import BaseHead from "../../components/BaseHead.astro";
import AnimatedLink from "@/components/AnimatedLink.astro";
import "@/styles/globals.css";
import hero from "@/assets/hero.jpg";
import logo from "@/assets/white_logo.png";
import Footer from "@/components/Footer.astro";
import tocContent from "./_toc.txt?raw";
import PageWrapper from "@/components/PageWrapper.astro";
import Nav from "@/components/Nav.astro";

const SITE_TITLE = "Terms and Conditions";
const SITE_DESCRIPTION = "Terms and Conditions for Orbiter";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <PageWrapper>
      <main>
        <div
          class={`relative z-10 flex flex-col items-center justify-start mb-10 w-full text-white gap-12`}
        >
          <Nav />

          <div class="flex flex-col gap-2 items-center justify-center">
            <h1
              class="text-6xl sm:text-7xl flex items-center gap-2 relative z-10"
            >
              Terms & Conditions
            </h1>
          </div>
        </div>
        <div class="text-white prose lg:prose-xl mx-auto px-6 py-12 whitespace-pre-wrap">
          {tocContent}
        </div>
      </main>
      <Footer />
    </PageWrapper>
  </body>
</html>
