
<div class="flex gap-4 items-center justify-center min-h-screen w-full max-w-screen-lg mx-auto">
  <div class="flex-1 flex flex-col gap-2 bg-white z-20 bg-opacity-80 p-4 rounded-md">
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">Launching a Website <br/> Shouldn't be Hard</h1>
    <p class="max-w-md">Building on the web is a lot different than it was just five or ten years ago, and the way we deploy websites has also changed. There are many platforms out there that are confusing and targeted towards professional software engineers, with so many different pipelines and complexities you don't need. We believe it should only take you 30 seconds to launch your website into orbit, so you can spend more time crafting the perfect site.</p>
  </div>
  <div class="flex-1">
  <div class="relative flex items-center justify-center">
  <!-- Orbit 1 -->
  <div class="absolute w-[0px] sm:w-[75px] md:w-[175px] lg:w-[275px] h-[0px] sm:h-[75px] md:h-[175px] lg:h-[275px] border border-black/20 rounded-full opacity-0 animate-spin-fast">
    <div class="absolute w-2 h-2 bg-black rounded-full -top-1 left-1/2 -translate-x-1/2"></div>
  </div>

  <!-- Orbit 2 -->
  <div class="absolute w-[25px] sm:w-[175px] md:w-[325px] lg:w-[475px] h-[25px] sm:h-[175px] md:h-[325px] lg:h-[475px] border border-black/20 rounded-full opacity-0 animate-spin-med">
    <div class="absolute w-2 h-2 bg-black rounded-full -top-1 left-1/2 -translate-x-1/2"></div>
  </div>

  <!-- Orbit 3 -->
  <div class="absolute hidden sm:block w-[275px] md:w-[475px] lg:w-[675px] h-[275px] md:h-[475px] lg:h-[675px] border border-black/20 rounded-full opacity-0 animate-spin-slow">
    <div class="absolute w-2 h-2 bg-black rounded-full -top-1 left-1/2 -translate-x-1/2"></div>
  </div>
  <div class="font-thin relative z-10 animate-fade-in text-center flex flex-col gap-4 items-center">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-32 h-32 text-black" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 22c-.818 0-1.6-.33-3.163-.988C4.946 19.373 3 18.554 3 17.175V7.542M12 22c.818 0 1.6-.33 3.163-.988C19.054 19.373 21 18.554 21 17.175V7.542M12 22v-9.97M3 7.541c0 .613.802 1 2.405 1.773l2.92 1.41c1.804.87 2.705 1.304 3.675 1.304M3 7.542c0-.612.802-.999 2.405-1.772L7 5m14 2.542c0 .613-.802 1-2.405 1.773l-2.92 1.41c-1.804.87-2.705 1.304-3.675 1.304m9-4.487c0-.612-.802-.999-2.405-1.772l-1.55-.748M6 13.026l2 .997M11.996 9V2m0 0c-.263-.004-.522.18-.714.405L10 3.938M11.996 2c.254.003.511.186.714.405L14 3.938" color="currentColor"/></svg>
  </div>
  </div>
</div>
