---
import logo from "@/assets/white_logo.png";
---

<div
  class="w-full flex flex-col gap-4 p-6 items-center text-white justify-center min-h-[100px] bg-[#252733]"
>
  <img class="h-8" src={logo.src} alt="orbiter" />

  <div class="flex flex-col gap-1 text-center">
    <p>Copyright &copy; 2024 Obiter Host | All Rights Reserved</p>
    <div class="flex gap-2 items-center justify-center">
      <a class="underline" href="/privacy">Privacy Policy</a>
      |
      <a class="underline" href="terms">Terms & Conditions</a>
    </div>
  </div>
</div>
