---
import AnimatedLink from "@/components/AnimatedLink.astro";
import { MobileMenu } from "./mobile-menu";
import logo from "@/assets/white_logo.png";
---

<div
  class="w-full max-w-screen-xl flex items-center justify-between gap-2 my-12 mb-12 px-6"
>
  <a href="/">
    <img class="sm:h-12 h-10" src={logo.src} alt="" />
  </a>
  <MobileMenu client:load />
  <div class="hidden sm:flex items-center sm:gap-12 gap-3">
    <AnimatedLink className="text-xl" href="/about">About</AnimatedLink>
    <AnimatedLink className="text-xl" href="/pricing">Pricing</AnimatedLink>
    <AnimatedLink className="text-xl" href="/blog">Blog</AnimatedLink>
    <AnimatedLink className="text-xl" href="https://docs.orbiter.host"
      >Docs</AnimatedLink
    >
  </div>
</div>
